body{
    background-color:#04686B;
    text-align: center;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 166, 0);
    font-size: 150%;
}

h1{
    font-size: 300%;
}
li{
    color: rgb(54, 25, 216);
    text-align: right;
    

}
 p {
        text-shadow: 2px 2px 10px #FFDE41;
    }
    p1{
        text-shadow: 2px 2px 10px #FFDE41;
    }
.smolpic{
    width: 45%;
    
}

img {
    border: 4px solid #00424C;
    }
    a{font-size: 90%;}

    ul{
        list-style-type: square;
    }
    ul1{
        list-style-type: square;
    }
.secondlist{
      color: #FFB70D;   
}
   

    

#twitter-link {
    color:rgb(0, 17, 255);
    text-decoration: dotted;
    text-decoration-color:cornflowerblue;
}